@inject NavigationManager NavigationManager

<button @onclick="GoHome"
    class="btn btn-outline-primary home-button">
    Alx
</button>

@code {
    private void GoHome()
    {
        NavigationManager.NavigateTo("");
    }
}
