.show-menu {
    display: block;
}

btn-info {
    color: white;
}


.user-button {
    margin-left: .5em;
}

.top-row a {
    margin-left: 0;
}

.dropdown-item:hover {
    background-color: white;
}
