@page "/contacts"

<h3>Свържете се с нас</h3>

<ul>
    <li>Имейл: alexkacov1912@gmail.com</li>
    <li>Телефон: (+359)889524243</li>
    <li>Адрес: бул. „Пещерско шосе“ 26, 4002 ж.к. Младежки хълм, Пловдив</li>
</ul>

<p>Ако искате да направим обява за вас свържете се с нас по Имейл.</p>

<div style="height:600px; width:800px;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.4669560817874!2d24.7284311190466!3d42.14029338467487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd1cc3a847e3d%3A0xd2e94589d06dd729!2z0J_RgNC-0YTQtdGB0LjQvtC90LDQu9C90LAg0LPQuNC80L3QsNC30LjRjyDQv9C-INC10LvQtdC60YLRgNC-0YLQtdGF0L3QuNC60LAg0Lgg0LXQu9C10LrRgtGA0L7QvdC40LrQsA!5e0!3m2!1sen!2sbg!4v1683275220710!5m2!1sen!2sbg" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>




