@page "/contacts"

<h3>Свържете се с нас</h3>

<ul>
    <li>Имейл: alexkacov1912@gmail.com</li>
    <li>Телефон: (+359)889524243</li>
</ul>

<p>Ако искате да направим обява за вас свържете се с нас по Имейл.</p>



